$background: rgba(237, 237, 237, 1);
$background_gradient: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);

$primary: rgba(217, 14, 50, 1);
$primary_dark_red: rgba(166, 9, 51, 1);
$primary_dark: rgba(40, 40, 40, 1);
$primary_light_grey: rgba(243, 246, 248, 1);

$text_black: rgba(41, 49, 72, 1);
$text_dark_grey: rgba(41, 49, 72, 0.8);
$text_grey: rgba(41, 49, 72, 0.6);
$text_light_grey: rgba(41, 49, 72, 0.45);
$text_line_gray: rgba(228, 228, 228, 1);
$text_white: rgba(255, 255, 255, 1);
$text_white_45: rgba(255, 255, 255, 0.45);
$text_white_20: rgba(255, 255, 255, 0.2);

$secondary_dark_red: rgba(89, 5, 28, 1);
$secondary_light_red: rgba(232, 110, 132, 1);
$secondary_blue: rgba(120, 149, 255, 1);
$secondary_green: rgba(127, 199, 94, 1);
$secondary_grey: rgba(237, 237, 237, 1);
